---
layout: layout.html
---

<div class="index-layout">


    <h1>Posts</h1>

    {% for post in collections.post %}

    <a href="{{post.url}}">

        <div class="index-layout p-4 flex flex-col gap-2 mt-4 ">
            <div class="flex flex-row align-start gap-2 flex-wrap">
                <span>{{post.data.title}}</span>
                <span class="text-slate-400">{{ post.data.date }}</span>
                <span>
                    {% for tag in post.data.tags %}
                    <span class="px-2 rounded-md bg-slate-200 text-xs">{{tag}}</span>
                    {% endfor %}
                </span>

            </div>
        </div>
    </a>
    {% endfor %}

</div>